html,
body {
    height: 100%;
    background:#202833;
    margin: 0;
    overflow: hidden;
}


.sun {
    height: 130px;
    width: 130px;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 65px);
}
.sun .sunrays {
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;
    box-shadow: 0px 0px 100px #ffe77d;
    height: 130px;
    width: 130px;
}

.circle {
    height: 130px;
    width: 130px;
    z-index: 1;
    background: #ffe77d;
    position: absolute;
    border-radius: 50%;
}

.sunrays span {
    background: #FFDD4A;
    width: 130px;
    height: 130px;
    position: absolute;
}
.sunrays span:first-child {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sunrays span:nth-child(2) {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.eyes {
    position: relative;
    top: 50px;
    z-index: 2;
}
.eyes .left,
.eyes .right {
    background: black;
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    -webkit-animation: blink 2.5s linear infinite;
    -moz-animation: blink 2.5s linear infinite;
    animation: blink 2.5s linear infinite;
}
.eyes .left {
    left: 47%;
}
.eyes .right {
    left: 15%;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@keyframes blink {
    0% {
        height: 8px;
        width: 8px;
        border-radius: 50%;
    }
    5% {
        height: 1px;
        width: 8px;
        border-radius: 0;
    }
    10% {
        height: 8px;
        width: 8px;
        border-radius: 50%;
    }
}
